@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100%;
    background: url("images/bg-mobile.svg") no-repeat top;
    background-size: contain;
    background-color: hsl(257, 40%, 49%);
    padding: 2.5rem;
    position: relative;
    color: white;
    font-family: "Open Sans", sans-serif;
}
main {
    text-align: center;
}

.header-logo {
    width: 7.5rem;
    margin-bottom: 3.5rem;
}

.header-image {
    width: 100%;
    margin-bottom: 3rem;
}
h1 {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
p {
    line-height: 1.5rem;
    margin-bottom: 2rem;
}
button {
    background-color: white;
    padding: 0.8rem 5rem;
    border-radius: 2rem;
    border: none;
    margin-bottom: 3rem;
    box-shadow: 0px 5px 15px 2px rgba(0,0,0,0.25)
}
button:hover {
    cursor: pointer;
    background-color: hsl(300, 69%, 71%);
    color: white;
}
button a {
    text-decoration: none;
    color:hsl(257, 40%, 49%);
}
button a:hover {
    width: 100%;
    height: 100%;
    color: white;
}

ion-icon {
    font-size: 2rem;
    padding: 0.5rem;
}
ion-icon:hover {
    color:hsl(300, 69%, 71%);
    cursor: pointer;
}

@media (min-width: 1024px) {
    body {
        padding: 3rem 5rem 2rem 5rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        height: 100vh;
        background: url("images/bg-desktop.svg") no-repeat center;
        background-size: cover;
        background-color:hsl(257, 40%, 49%);
    }
    header {
        min-width: 55%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-right: 3.5rem;
    }
    .header-logo {
        width: 15rem;
        margin-bottom: 5rem;
    }
    .header-image {
        align-self: center;
        min-width: 500px;
    }
    main {
        margin: auto 0;
        text-align: left;
    }
    h1 {
        font-size: 2.5rem;
    }
    p {
        font-size: 1.2rem;
        line-height: 2rem;
    }
    button {
        padding: 1rem 4rem;
        font-size: 1.2rem;
    }
    .icon-container {
        margin-bottom: 2rem;
        position: absolute;
        bottom: 0;
        right: 5rem;
    }
}
